.invoice {
    display: flex;
    min-height: 100vh;
    gap: 1.5rem;
  
    padding-top: 1.5rem;
  }
  
  .main-panel {
    width: 80%;
    flex: 3;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .side-panel {
    flex: 1;
  }
  