@import "tailwindcss";

@theme {
  --color-background: #f8f9fa;
  --color-foreground: #1f2937;
  --color-primary: #4f46e5;
  --color-card: #ffffff;
  --color-active-nav-bg: #ebf5ff;
}

/* Dark Theme */
.dark {
  --color-background: #1a1a1a;
  --color-foreground: #ffffff;
  --color-primary: #60a5fa;
  --color-card: #1f2937;
  --color-active-nav-bg: rgba(67, 56, 202, 0.2);
}

body {
  margin: 0;
}
