.layout {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  color: black;
  overflow-y: auto;
}

.topnav {
  background-color: #f8f9fa;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  border-bottom: 1px solid #bababa;
}
.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-right: 1px solid #bababa;
}
